spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/innowise_user_service_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
  liquibase:
    enabled: false
